* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #000;
    font-family: 'Poppins', sans-serif;
}


main {
    background-color: aliceblue;
    height: 100vh;
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10rem 20rem 10rem 20rem;
}

.loginContainer {
    width: 25rem;
    padding: 2rem;
    height: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.loginContainer .loginHeader {
    text-align: center;
    margin-bottom: 2rem;
}

/* .loginContainer .loginInput {
    border: 1px solid black;
} */

.loginInput div {
    display: flex;
    flex-direction: column;
}

div input {
    border: 1px gray solid;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 4px;
}

.button {
    border: none;
    background-color: aliceblue;
    padding: 0.5rem;
    width: 100%;
    border-radius: 4px;
}





